{% extends "Base/twoPanedBase.html" %}
{% block content %}
	<!--Page Content-->
		<h2>News</h2>
		{% if latest_news %}
				<table>
				{% for newsItem in latest_news %}
				<tr>
					<td>
						<hr/>
						<h3><a href="{% url News:detail newsItem.id %}">{{ newsItem.title }}</a></h3>
						<div class="crop" style="float:left; padding-right:15px;">
							<a href="{% url News:detail newsItem.id %}"><img src="{{newsItem.imageURL}}"/></a>
						</div>
						{{ newsItem.preview }}
						<a href="{% url News:detail newsItem.id %}">... (read more)</a>
						<br/>
					</td>
				</tr>
				{% endfor %}
				</table>
				<hr/>
		{% else %}
			<p>No news available.</p>
		{% endif %}
{% endblock %}

{% block sidebar %}
	<!--Page Sidebar-->
		<h2>Upcoming Events</h2>
		{% if upcoming_events %}
			<hr/>
			<table>
				{% for event in upcoming_events %}
					<tr>
						<td>
							<div class="shaded">
								<a href="{% url Event:event event.id %}"><strong>{{ event.name }}</strong><br/></a>
								<em>{{ event.location }}</em><br/>
								<small><strong>Start: </strong>{{ event.start }}</small><br/>
								<small><strong>End: </strong>{{ event.end }}</small><br/>
								<div style="white-space: pre-wrap;">{{ event.description|truncatewords:"30" }} <a href="{% url Event:event event.id %}">(read more)</a></div>
								<br/>
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No events available.</p>
		{% endif %}
{% endblock %}
